<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--마이바티스 레퍼지토리와 연결된 파일이라고 알려주는것-->
<mapper namespace="com.beyond.basic.b2_board.repository.MemberMyBatisRepository">
<!--id에는 레포지토리에 있는 메서드명을 붙이는 것 parameter Type은 #{}변수가 어떤 객체의 필드인지 알려주는 것.생략해도 위의 namespace연결 때문에 되긴 됨-->
    <insert id="save" parameterType="com.beyond.basic.b2_board.domain.Member">
        insert into member(name, email, password) values(#{name},#{email},#{password});
    </insert>
<!--result Type에는 리턴타입을 알려주는 것-->
    <select id="findAll" resultType="com.beyond.basic.b2_board.domain.Member">
        select * from member;
    </select>
    <select id="findById" resultType="com.beyond.basic.b2_board.domain.Member">
        select * from member where id = #{id};
    </select>
    <select id="findByEmail" resultType="com.beyond.basic.b2_board.domain.Member">
        select * from member where email = #{email};
    </select>

</mapper>